.Productos {
    height: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.jardineria {
    border: 2px solid rgba(223, 112, 0, 0.091);
    height: calc(100vh - 20vh);
    width: 95%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parafernalia {
    border: 2px solid rgba(223, 112, 0, 0.091);;
    height: 75vh;
    width: 95%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.semillas {
    border: 2px solid rgba(223, 112, 0, 0.091);;
    height: 75vh;
    width: 95%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.materiaPrima {
    border: 2px solid rgba(223, 112, 0, 0.091);;
    height: 75vh;
    width: 95%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
