.Productos {
    margin-top: 18vh;
    height: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    scroll-snap-type: mandatory;
}

.jardineria {
    border: 2px solid white;
    height: calc(100vh - 20vh);
    width: 80%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parafernalia {
    border: 2px solid white;
    height: 75vh;
    width: 80%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.semillas {
    border: 2px solid white;
    height: 75vh;
    width: 80%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.materiaPrima {
    border: 2px solid white;
    height: 75vh;
    width: 80%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: end;
}
