.BotonesNav {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
}
 
.Boton {
    height: 13vh;
    width: 20vw;
    background-color: rgb(221, 111, 0);
    font-weight: 700;
    border-radius: 30px;
    border: none;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    transition: .5s;
}

.Boton:hover {
    transition: .5s;
    transform: translateY(-10px);
}