.BotonesNav {
    margin-top: 0;
    margin-left:10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    width: 80%;
}
 
.Boton {
    height: 13vh;
    width: 19vw;
    background-color: rgb(221, 111, 0);
    font-weight: 350;
    border: none;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    transition: .5s;
    border-radius: 25px;
}

.Boton:hover {
    transition: .5s;
    transform: translateY(-10px);
}