.LTsombra {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    scroll-snap-align: start;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}