.CarrouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 4px solid rgb(7, 7, 7);*/
    position: relative;
    height: 100vh;
    width: 98.79vw;
    overflow: hidden;
    color: aliceblue;
    scroll-snap-align: center;
    padding-bottom: 10vh;
}

.Carrousel {
    border: 2px solid black;
    width: 80%;
    height: 60vh;
    margin-top: 20vh;
}