.materiaPrima {
    height: 80vh;
    width: 80%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.producto1 {
    grid-column: 1 / 5;
    border: 2px solid rgba(223, 112, 0, 0.5);
    border-radius: 25px;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto4 {
    grid-column: 3 / 5;
    border: 2px solid rgba(223, 112, 0, 0.5);
    border-radius: 25px;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto {
    border: 2px solid rgba(223, 112, 0, 0.5);
    border-radius: 25px;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}