.navBar{
 display: flex;
 background-color: rgb(5, 135, 51);
 width: 100%;
 height: 40px;
 margin-top: 0%;
 margin-left: 0%;
}
.namePage{
    color: aliceblue;
    font-size: 35px;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    
}