.bigNav {
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100vw;
}

.leftNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 10%;
}

.redesNav {
    background: none;
    border: none;
    color:rgb(255, 255, 255);
    margin-top: 7rem;
}


.leftNavVisible {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.leftNavInvisible {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.NavBar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    height: 20vh;
    margin-top: 0%;
}

.NavBarVisible {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.NavBarHidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.Container {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.NavLink {
    text-decoration: none;
}

.Title {
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 0;
}

.LinksChicosContainer {
    width: 55%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.LinkChico {
    color: rgb(255, 255, 255);
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
}
.NavTienda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    text-decoration: none;
    background-color: rgb(221, 110, 0);
    font-size: 25px;
    border-radius: 2px;
    
}   
.LinkTienda {
    color: rgb(0, 0, 0);
    font-family: 'Russo One', sans-serif;

}

.NavAsesoramiento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    text-decoration: none;
    background-color: rgb(221, 110, 0);
    font-size: 25px;
    border-radius: 2px;
    
}

.rightNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 10%;
}

.rightNavVisible {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.rightNavInvisible {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}



.botonFlotante {
    position: fixed;
    bottom: 40px;
    right: 50px;
    font-size: 5rem;
    background-color: rgb(221, 110, 0);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
  

