.FooterConteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    border-top: 2px solid aliceblue;
    height: 35vh;
    width: 80%;
    z-index: 99;
}

.Link {
    text-decoration: none;
}

.LinkCont {
    color: aliceblue;
    transition: 0.1s
}

.LinkCont:hover {
    color: rgb(223, 110, 0);
    transition: 0.1s;
}

.redes {
    margin-top: 8vh;
}

.src {
    margin-top: 5vh;
}