.bg{
    display: flex;
    background-image: url('/public/IMG_3731.JPG');
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 100%;
   
}

.container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.684);
    scroll-snap-align: center;
    
   

}

.acordion{
    
    width: 1000px;
    margin-top: 50px;
    margin-left: 24%;
}

.item{
    background-color: rgba(0, 0, 0, 0.793);
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 8px; 
}

.title{
    color:  rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color:  rgb(255, 255, 255);
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.contentShow{
    color:  rgb(255, 255, 255);
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

.conBut{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    width: 305px;
    height: 85px;
    margin-left: 43%;
}

.conBut button{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 80px;
    color:  rgb(255, 255, 255);
    font-size: 35px;
    border: 16px;
   
}

.backBut{
    display: flex;
   margin-top: 30px;
   margin-left: 50px;
   
}

