.bg{
    display: flex;
    background-image: url('../../../../public/IMG_3731.JPG');
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 100%;
    scroll-snap-align: start;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.684);
    scroll-snap-align: center;
    
}

.acordion{
    width: 1000px;
    
}

.item{
    background-color: rgba(0, 0, 0, 0.793);
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 8px; 
}

.title{
    color:  rgb(211, 110, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color:  rgb(255, 255, 255);
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.contentShow{
    color:  rgb(255, 255, 255);
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

